<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/profile_Gerard.jpg">
            </a>
            <div class="content">
                <a class="header">Gerard J Gorman</a>
                <div class="description">
                    <p>Gerard is the Director of Devito Codes Ltd and the principle 
                       investigator of the open-source 
                       <a href="https://www.devitoproject.org/">Devito project</a>. He is also
                       an Associate Professor at <a href="https://www.imperial.ac.uk/">
                       Imperial College London</a> and Director of the
                       <a href="https://www.imperial.ac.uk/study/pg/earth-science/computational-science/">
                       Applied Computational Science and Engineering MSc</a>
                       at Imperial College.</p>
                </div>
            </div>
        </div>
    </div>
</div>